.recipe-card {
  background: #628021;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;

}

.recipe-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.recipe-info {
  padding: 16px;
  text-align: left;
}

.recipe-name {
  font-family: 'Lobster';
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 30px;
}

.ingredient-match {
  font-family: 'Lobster';
  color: #000000;
  font-size: 16px;
  margin-bottom: 4px;
}

.cooking-time {
  font-family: 'Lobster';
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

.view-recipe-button {
  background-color: #3a4c13;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  width: 160px;
  font-weight: bold;
  cursor: pointer;
}


.more-recipes-indicator {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  opacity: 0.6;
}

.more-recipes-indicator span {
  display: block;
  font-size: 24px;
}

